.articleTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  border: 1px solid orange;
}

.articleTable th, .articleTable td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid orange;
  border-right: 1px solid orange;
}

.articleTable th {
  background-color: orange; /* Updated this line to make the background color orange */
  color: black; /* Added this line to make the text color black */
}

.articleTable tr:last-child td {
  border-bottom: none;
}

.articleTable td:last-child, .articleTable th:last-child {
  border-right: none;
}

.tableContainer {
  padding: 0 20px;
}
